#Nav {
    color: #ffffff;
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 10px 0%;
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    z-index: 999;
    /*justify-content: space-between; */
}

#Nav .Navbox {
    margin-top: 1%;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    opacity: .8;
    height: 70px;
    align-items: center;
    background-color: midnightblue;
    right: 0;
    width: 80%;
    margin-left: 20%;
    backdrop-filter: blur(10px);
}

#Nav a {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-kerning: normal;
}

#Nav a:hover {
	color: #695EA0;
}

#Nav img {
    height: 70%;
}

#Nav #placeholder {
    height: 50px;
    width: 50px;
    background-color: red;
}



/*
#Nav_Selection {
    width: 60%;
    height: 100%;
    background-color: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: absolute;
    left: 20%;
}
*/