/* Downloads.css */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.downloads-content {
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #fffde6;
}

.downloads-content h1 {
    color: #333;
}

.downloads-content p {
    color: #666;
    font-size: 16px;
}