@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.home-body {
    background-color: #fffde6;
}

.home-content {
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 100%;
}

.gif-container {
    position: relative;
    text-align: center;
}

.gif-container img {
    width: 100%;
    max-width: 640px;
    height: auto;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
}

.description {
    margin-top: 20px;
}