.impressum-content {
    text-align: center;
    max-width: 100%;
    height: auto;
    background-color: #fffde6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

