/* KickingBrass.css */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.kickingbrass-content {
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.kickingbrass-content h1 {
    color: #333;
}

.kickingbrass-content p {
    color: #666;
    font-size: 16px;
}