.aboutus-content {
    padding: 20px;
    padding-top: 100px;
    text-align: center;
    background-color: #f8f8f8;
}

.aboutus-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.aboutus-content h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #666;
}

.aboutus-content p {
    font-size: 1em;
    margin-top: 20px;
    color: #555;
    line-height: 1.6;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 20px auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1024px) {
    .aboutus-content {
        padding-top: 150px;
    }

    .aboutus-content h1,
    .aboutus-content h3,
    .aboutus-content p {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}