.Banner {
    margin-top: 0;
    padding: 0;
    display: grid;
    max-width: 100%;
    height: fit-content;
    position: relative;
    padding-top: 130px;
    overflow-x: hidden;
}

.primary-title {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14vw;
    font-weight: bold;
    z-index: 5;
    color: #051a6f;
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-shadow:
        0 0 6px rgba(255, 255, 255, 0.9),
        0 0 12px rgba(255, 255, 255, 0.6),
        0 0 18px rgba(255, 255, 255, 0.4);
}

.primary-title span {
    display: inline-block;
    transform: translateY(calc(var(--i) * 2vh));
    animation-delay: calc(var(--i) * 0.1s);
}


.primary-title:hover {
    animation: none;
}

@keyframes descendSteps {
    from {
        transform: translateY(-50%);
        transform-origin: top center;
    }

    to {
        transform: translateY(0);
    }
}

.primary-title span:nth-child(1) {
    animation-delay: 0s;
}

.primary-title span:nth-child(2) {
    animation-delay: 0.2s;
    transform: translateY(1vh);
    margin-top: 1%;
}

.primary-title span:nth-child(3) {
    animation-delay: 0.4s;
    transform: translateY(2vh);
    margin-top: 2%;
}

.primary-title span:nth-child(4) {
    animation-delay: 0.6s;
    transform: translateY(3vh);
    margin-top: 3%;
}

.primary-title span:nth-child(5) {
    animation-delay: 0.8s;
    transform: translateY(4vh);
    margin-top: 4%;
}

.primary-title span:nth-child(6) {
    animation-delay: 1s;
    transform: translateY(5vh);
    margin-top: 5%;
}

.primary-title span:nth-child(7) {
    animation-delay: 1.2s;
    transform: translateY(6vh);
    margin-top: 6%;
}

.primary-title span:nth-child(8) {
    animation-delay: 1.4s;
    transform: translateY(7vh);
    margin-top: 10%;
}

.primary-title span:nth-child(9) {
    animation-delay: 1.6s;
    transform: translateY(8vh);
    margin-top: 15%;
}

.primary-title span:nth-child(10) {
    animation-delay: 1.8s;
    transform: translateY(9vh);
    margin-top: 20%;
}

.Banner .secondary-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #051a6f;
    font-size: 9vw;
    font-weight: bold;
    margin-top: 14%;
    z-index: 5;
    text-shadow:
        0 0 6px rgba(255, 255, 255, 0.9),
        0 0 12px rgba(255, 255, 255, 0.6),
        0 0 18px rgba(255, 255, 255, 0.4);
}

.Banner .BannerIMG1 {
    width: 100%;
    height: auto;
    position: relative;
}

.Banner .BannerIMG2 {
    width: 40%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Banner .BannerIMG3 {
    width: 80%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.Banner .BannerIMG4 {
    padding: 0;
    width: 100%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

/* MOBILE */
@media (max-width: 750px) {
    .Banner {
        padding-top: 80px;
    }

    .Banner .primary-title {
        margin-top: 12%;
        z-index: 5;
    }

    .Banner .BannerIMG2 {
        width: 50%;
        height: auto;
        top: 95%;
    }

    .Banner .BannerIMG3 {
        width: 50%;
        height: auto;
        top: 95%;
    }
}

/* DESKTOP */
@media (min-width: 750px) {
    .Banner .primary-title {
        margin-top: 16%;
        z-index: 5;
    }
}