.downloads-content {
    padding-top: 100px;
    padding-bottom: 100px;
}

.downloads-content h1 {
    font-family: 'Chakra Petch', sans-serif;
}

.downloads-content .MuiButton-root {
    font-family: 'Chakra Petch', sans-serif;
    background-color: #051a6f;
    color: #ffffff;
}

.image-card {
    background-color: #fffde6;
    margin-bottom: '20px';
}

.button-row .MuiButton-root {
    background-color: #878462;
    color: white;
}

.button-row .MuiButton-root:hover {
    background-color: #0a0f27;
}

@media (min-width: 750px) {
    .card-content {}
}