.downloads-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fffde6;
}

.image-card {
    background-color: #fffde6;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
}

.button-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.button-row .MuiButton-root {
    background-color: #051a6f;
    color: white;
}

.button-row .MuiButton-root:hover {
    background-color: #0a0f27;
}

@media (max-width: 768px) {}