@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.admin-link {
    margin-right: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #d8d6c2;
    color: #666;
    text-align: center;
}

.footer-kickingbrass {
    background-color: #1b0c2e;
    color: #ffe690;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.footer-text {
    display: block;
    width: 100%;
}

.footer-icon {
    width: 24px;
    height: 24px;
    margin: 0 20px;
}

.footer-text-content {
    margin-top: 10px;
    font-size: 14px;
}

@media (min-width: 750px) {
    .footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px 50px;
    }

    .footer-icons {
        display: none;
    }

    .footer-icon {
        width: 30px;
        height: 30px;
    }

    .footer-text-content {
        margin-top: 0;
        font-size: 16px;
    }
}