/* Home.css */
.home-content {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.home-content h1 {
    color: #333;
}

.home-content p {
    color: #666;
    font-size: 16px;
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 100%;
    height: auto;
    max-height: 100px;
    display: block;
    padding: 10%;
}

@media (max-width: 750px) {
    .image-row {
        display: contents;
        justify-content: center;
        align-items: center;
    }
}