@import url('https://fonts.googleapis.com/css2?family=Fanwood+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

body {
    font-family: 'Maven Pro', sans-serif;
}

.kickingbrass-body {
    background-color: #13001b;
}

.kickingbrass-content {
    /* margin: 0px auto; */
    font-family: 'Maven Pro', sans-serif;
    color: #a16edd;
}

.kickingbrass-content h1 {
    padding-top: 5%;
    padding-bottom: 2%;
    color: #a16edd;
    font-family: 'Fanwood Text', serif;
}

.kickingbrass-content h3,
h2,
h4,
h5 {
    color: #a16edd;
    font-family: 'Fanwood Text', serif;
}

.kickingbrass-content h6 {
    color: #a16edd;
    font-size: medium;
    font-family: 'Fanwood Text', serif;
}

.kickingbrass-content p {
    color: #a684cd;
    font-size: 16px;
    font-family: 'Fanwood Text', serif;
}

.controls-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.dense-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.img1 {
    top: 50%;
    left: 50%;
    max-width: 100%;
    max-height: 100%;
}

.video-container {
    position: relative;
    width: 100%;
    height: 250px;
}

.video-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    max-width: 200%;
    max-height: 200%;
}

.video-container video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    object-fit: cover;
}

.links {
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
    margin: 20px;
    padding: auto;
}

.items-card {
    background-color: rgb(41, 0, 52);
}

.glossary-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    image-rendering: pixelated;
}

.sprite-row {
    margin-bottom: 50px;
    border-bottom: 1px solid #333;
}

.sprite-row-flipped {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-bottom: 50px;
    border-bottom: 1px solid #333;
}

@media (min-width: 751px) {
    .discord-button {
        position: absolute;
        top: 20px;
        right: 50px;
    }

    .video-container {
        position: relative;
        width: 100%;
        height: 300px;
    }

    .video-container video {
        height: 300px;
    }

    .kickingbrass-body {
        padding-top: 100px;
    }

    .kickingbrass-content {
        padding: 50px;
    }
}

@media (max-width: 750px) {
    .kickingbrass-content {
        padding: 1px;
    }

    .kickingbrass-body {
        padding-top: 80px;
    }

    .discord-button {
        position: absolute;
        top: 2px;
        right: 5px;
    }

    .items-card {
        background-color: rgb(41, 0, 52) !important;
    }
}