@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

p {
    color: #6216b9;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #13001b;
    margin: 0;
}

.MuiCardContent-root {
    color: #8d16b9;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kickingbrass-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #470061;
}

.kickingbrass-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #a16edd;
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

.kickingbrass-content h1,
h2,
h3,
h4,
h5,
h6 {
    color: #a16edd;
    font-family: 'Montserrat', serif;
}

.kb-logo {
    max-width: 200px;
    max-height: 200px;
}

.kickingbrass-content h1 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 5%;
    margin-bottom: 2%;
}

.kickingbrass-content p {
    color: #a684cd;
    font-size: 16px;
    font-family: 'Montserrat', serif;
}

.kickingbrass-box {
    background-color: #180d25;
    padding: 24px;
    border-radius: 8px;
}

.kickingbrass-card {
    margin-bottom: 16px;
    background-color: #6a1b9a;
    color: #ffe690;
}


.kickingbrass-button {
    background-color: #a16edd;
    color: #ffffff;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.kickingbrass-button:hover {
    background-color: #9254aa;
}

.kickingbrass-cardheader {
    padding-bottom: 8px;
    color: #ffe690;
    font-family: 'Montserrat', serif;
}

.MuiCardHeader-subheader {
    padding-bottom: 8px;
    color: #ffe690;
    font-family: 'Montserrat', serif;
}

.controls-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.dense-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.img1 {
    max-width: 100%;
    max-height: 100%;
    image-rendering: pixelated;
}

.video-container {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 95px;
}

.video-container img,
video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}

.links {
    display: flex;
    justify-content: center;
}

.card,
.items-card {
    background-color: rgb(41, 0, 52);
    margin: 20px;
    padding: auto;
    width: 100%;
    max-width: 800px;
    image-rendering: pixelated;
}

.glossary-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    image-rendering: pixelated;
}

.sprite-row,
.sprite-row-flipped {
    margin-bottom: 50px;
    border-bottom: 1px solid #333;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.image-card {
    background-color: #180d25;
    color: rgb(41, 0, 52);
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
}

.image-card h2,
.image-card h3 {
    color: #a16edd;
}

.image-card Button {
    background-color: #6216b9;
    color: #b413a9;
    margin-top: 20px;

    &:hover {
        background-color: #9254aa;
    }
}

.image-card .MuiCardHeader-root {
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.image-card .MuiCardHeader-title {
    font-size: 18px;
    color: #2e1548;
}

.image-card .MuiCardHeader-subheader {
    font-size: 16px;
    color: #ccc;
}

@media (min-width: 751px) {
    .discord-button {
        position: absolute;
        top: 20px;
        right: 50px;
    }
}

@media (max-width: 750px) {
    .MuiCardContent-root {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        max-width: 90%;
        margin: auto;
    }

    .kickingbrass-body {
        padding-top: 10px;
    }

    .kickingbrass-card {
        max-width: 400px;
    }

    .kickingbrass-content {
        padding: 10px;
    }

    .video-container {
        margin-top: 75px;
        margin-bottom: 0px;
        height: 250px;
    }

    .discord-button {
        position: absolute;
        top: 2px;
        right: 5px;
    }

    .items-card {
        background-color: rgb(41, 0, 52);
        margin: 20px;
        padding: auto;
        width: 100%;
        min-width: 300px;
    }
}