@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');


p {
    text-align: left;
    max-width: 500px;
    color: #a16edd;
}

.MuiTab-root {
    color: #a16edd !important;
}

.kb-canvas {
    width: 100%;
}


body {
    font-family: 'Rubik', sans-serif;
    background-color: #13001b;
    margin: 0;
}

.MuiCardContent-root {
    color: #a16edd;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.kickingbrass-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #470061;
}


.kickingbrass-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.MuiPaper-root {
    background-color: #ffffff00 !important;
}

h2,
p {
    max-width: 600px;
}

.card h1,
h2,
h3,
h4,
h5,
h6 {
    max-width: 500px !important;
    color: #a16edd;
}

.card h2 {
    max-width: none;
    color: #a16edd !important;
}

.kb-logo {
    max-width: 200px;
    max-height: 200px;
}

.kb-canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.banner01-container {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100vh;
    height: 100%;
}

.banner01-image {
    width: 100vh;
    height: 100%;
    object-fit: cover;
}

.kickingbrass-content h1 {
    color: #a16edd;

    font-size: 36px;
    margin-top: 5%;
    margin-bottom: 2%;
}

.kickingbrass-content p {
    color: #a16edd;
    font-size: 16px;
    font-family: 'Montserrat', serif;
}

.kickingbrass-box {
    background-color: #180d25;
    padding: 24px;
    border-radius: 8px;
}

.kickingbrass-card {
    margin-bottom: 16px !important;
    background-color: #6a1b9a;
    color: #ffe690;
}

.kickingbrass-button {
    background-color: #a16edd !important;
    color: #2b1742 !important;
    font-size: 16px;
    text-transform: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.kickingbrass-button:hover {
    background-color: #9254aa;
}

.kickingbrass-cardheader {
    padding-bottom: 8px;
    color: #a16edd;
    font-family: 'Montserrat', serif;
}

.kickingbrass-content .MuiCardHeader-subheader {
    padding-bottom: 8px;
    color: #a16edd !important;
    font-family: 'Montserrat', serif;
}

.controls-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center !important;
    padding: 20px;
}

.dense-list {
    list-style: none;
    /* Remove bullet points */
    padding: 0;
    /* Remove default padding */
    width: 100%;
    /* Ensure full width usage */
    margin: 0 auto;
    /* Center the list */
}

.dense-list li {
    padding: 8px;
}

.dense-list p {
    margin: 0;
}

.img1 {
    max-width: 100%;
    max-height: 100%;
    image-rendering: pixelated;
}

.links {
    display: flex;
    justify-content: center;
}

.card {
    width: auto;
    min-width: 100%;
    max-width: 800px;
    padding: 20px;
    margin: 20px auto;
    background-color: #180d25;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.download-card {
    background-color: rgb(51, 0, 65);
    width: 100%;
    max-width: 800px;
    image-rendering: pixelated;
}

.glossary-image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    image-rendering: pixelated;
}

.sprite-row,
.sprite-row-flipped {
    margin-bottom: 50px;
    border-bottom: 1px solid #333;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.image-card {
    background-color: #180d25;
    color: rgb(41, 0, 52);
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
}

.image-card h2,
.image-card h3 {
    color: #a16edd;
}

.image-card Button {
    background-color: #a16edd;
    color: #a16edd;
    margin-top: 20px;

    &:hover {
        background-color: #9254aa;
    }
}

.image-card .MuiCardHeader-title {
    font-size: 18px;
    color: #2e1548;
}

.image-card .MuiCardHeader-subheader {
    font-size: 16px;
    color: #ccc;
}

.glossary-container {
    overflow-x: auto;
    /* Enable horizontal scrolling if needed */
}

/* DESKTOP */
@media (min-width: 751px) {
    .MuiTabs-scroller {
        margin-top: 30%;
    }
}

/* MOBILE */
@media (max-width: 750px) {
    .MuiTabs-scroller {
        margin-top: 20%;
    }

    .MuiCardContent-root {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .kickingbrass-card {
        max-width: 400px;
    }

    .kickingbrass-content {
        padding: 10px;
    }

    .video-container {
        margin-top: 75px;
        margin-bottom: 0px;
        height: 250px;
    }

    .items-card {
        background-color: rgb(41, 0, 52);
        margin: 20px;
        padding: auto;
        width: 100%;
        min-width: 150px;
    }
}