#Nav {
    color: #ffffff;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 10px 0%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: darkblue;
    justify-content: space-between;
    opacity: .7;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);
    font-size: large;
}

/*
#Nav .Navbox {
    margin-top: 1%;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
    opacity: .8;
    height: 70px;
    align-items: center;
    background-color: midnightblue;
    right: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    float: right;
}
*/


#Nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-kerning: normal;
    z-index: 999;
}

#Nav a:hover {
    color: #695EA0;
}


#Nav #logo {
    background-color: none;
    height: 70%;
    align-items: center;
    display: flex;
    position: absolute;
    margin-left: 1%;
}

#Nav img {
    height: 100%;
}

#Nav #placeholder {
    height: 50px;
    width: 50px;
    background-color: red;
}

#Nav #Nav_Selection {
    width: 45%;
    height: 100%;
    background-color: none;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: absolute;
    left: 27.5%;
}

#Nav #socials {
    width: fit-content;
    height: fit-content;
    background-color: red;
    bottom: 0;

}