/* Team.css */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.team-content {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
}

.team-content h1 {
    color: #333;
}

.team-content p {
    color: #666;
    font-size: 16px;
}

.image-card {
    margin: 10px;

}

.image-row {
    display: flex;
    justify-content: center;
    gap: 1px;
}

.team-content {
    padding: 8px;
}

.image {
    max-width: 100%;
    height: auto;
    max-height: 200px;
    display: block;
}

@media (max-width: 750px) {
    .image-row {
        display: contents;
        justify-content: center;
        align-items: center;
    }
}