.team-card {
    padding: 20px;
    background-color: #fffde6;
}

.team-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.image-card {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    background-color: #d8d6c2;
    margin: 10px;
}

.poster-card {
    align-items: center;
    padding: 20px;
    background-color: #fffde6;
    margin-top: 20px;
}

.poster {
    max-width: 400px;
}

.pronouns {
    margin-bottom: 10px;
    color: #757575;
}

.bold-text {
    font-weight: bold;
}

@media (min-width: 768px) {

    .h1,
    .h2,
    .h3,
    .p {
        min-width: 600px;
        max-width: 800px;
    }
}

@media (max-width: 768px) {

    .h2,
    .h3 {
        min-width: 600px;
        max-width: 800px;
    }

    .p {
        min-width: 200px;
        max-width: 400px;
    }

    .team-content {
        margin-top: 50px;
    }

    .team-card {
        padding: 40px;
    }

    .poster-card {
        padding: 40px;
    }
}