.updates-content {
    padding: 20px;
    padding-top: 150px;
}

.updates-content h1 {
    padding-top: 5%;
    padding-bottom: 2%;
    font-family: 'Chakra Petch', sans-serif;
    color: #333;
}

.updates-content h2,
h3,
h4,
h5,
h6 {
    font-family: 'Chakra Petch', sans-serif;
    color: #666;
}