@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.welcome-sprite-row {
    margin-top: 50px;
    margin-bottom: 200px;
}

.welcome-section {
    padding-top: 100px;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 600px;
}

.welcome-message h1 {
    padding-top: 300px;
    color: #333;
    font-family: 'Chakra Petch', sans-serif;
}

.welcome-message h2,
.welcome-message h3 {
    padding-bottom: 5%;
    color: #333;
    font-family: 'Chakra Petch', sans-serif;
}

.welcome-message p {
    padding-top: 5%;
    color: #666;
    font-size: 16px;
}

@media (max-width: 750px) {
    .welcome-message h1 {
        padding-top: 100px;
    }

    .welcome-section {
        padding-top: 100px;
    }

    .sprite-row {
        margin-top: 50px;
        margin-bottom: 100px;
    }
}