#Nav {
    color: #6E6E6E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    height: 50px;
    width: auto;
    padding: 10px 0%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
    opacity: .8;
}

#Nav a {
	text-decoration: none;
	color: #6E6E6E;
	font-weight: bold;
	font-kerning: normal;
}

#Nav a:hover {
	color: #695EA0;
}
